!!! 5
%html{ :lang => 'en', :'ng-app' => 'Presenter' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %title= current_page.data.title || 'Presenter'

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Oswald:700'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700'
    = stylesheet_link_tag 'application'

  %body{ class: page_classes }

    %progress

    = yield

    = javascript_include_tag  'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'
    = javascript_include_tag  'application'
    = javascript_include_tag  'services/progress'
    = javascript_include_tag  'directives/progress'
    = javascript_include_tag  'directives/slides'
    = javascript_include_tag  'directives/slide'
